@import '~react-mdl/extra/material.css';
@import '~react-select/dist/default';

$readable-font-size: 19px;

body {
  background-color: #FAFAFA;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

blockquote {
  margin: 0;
  letter-spacing: normal;
  white-space: pre-wrap;
  font-size: 19px;
  line-height: 30px;
  font-weight: normal;
}

form {
  margin-bottom: 0;
}

a {
  color: #0000ee;
  &:visited {
    color: #551a8b;
  }
}

.mdl-button.mdl-button--greyed {
  color: #C0C0C0;
}

.accent-color {
  color: #FF4081
}

.primary-color {
  color: #3F51B5;
}

$valid-color: #4CAF50;
.color--valid {
  background-color: #4CAF50 !important;
  color: white;
}
.color-text--valid {
  color: $valid-color;
}

$invalid-color: #DE3226;
.color--invalid {
  background-color: $invalid-color !important;
}
.color-text--invalid {
  color: $invalid-color;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #E4E4E4;
  margin: 2px 2px 2px 0;

  > i {
    cursor: pointer;
    float: right;
    line-height: 32px;
    padding-left: 8px;
  }
}

.mdl-card {
  width: 100%;
  min-height: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.34);
  z-index: inherit;

  .mdl-card__title-text {
    font-weight: 400;
    font-size: 28px;
  }

  .mdl-card__supporting-text {
    width: auto;
    font-size: $readable-font-size;
    line-height: 30px;
  }

  .section-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.870588);
  }
}

.mdl-button--fab {
  background-color: #EBEBEB;
}

$timingFn: cubic-bezier(.62,.28,.23,.99);

.card-appear, .card-enter {
  opacity: 0;
  transform: translateY(500px);
}

.card-appear.card-appear-active, .card-enter.card-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 700ms $timingFn;
}

.card-leave {
  opacity: 1;
  transform: translateY(0px);
}

.card-leave-active {
  opacity: 0;
  transform: translateY(500px);
  transition: all 700ms $timingFn;
}

.ql-editor > div {
  font-size: $readable-font-size;
}

.fab-hideable {
  transition: all 500ms $timingFn;
  transform: translateY(0px);

  &.fab-hidden {
    transform: translateY(100px);
  }
}

.concept-nav-container {
  display: flex;
  justify-content: center;
}

$nav-width: 350px;
$nav-margin: 10px;
.nav-negative-margin {
  @media(min-width: 1450px) {
    margin-left: -($nav-width + $nav-margin);
  }
}

.concept-nav {
  position: absolute;
  max-width: $nav-width;
  margin: 0 $nav-margin $nav-margin;
  background-color: white;
}

.concept-scroller {
  margin-left: $nav-width + $nav-margin + 10px;
  justify-content: center;
  width: 700px;
}

//div {
//  ul ul {
//    border-left-width: 2px;
//    border-left-style: solid;
//  }
//  > ul > li > ul {
//    border-left-color: #6A609B;
//    > li > ul {
//      border-left-color: #D81515;
//      > li > ul {
//        border-left-color: #0BAA5E;
//      }
//    }
//  }
//}
