@import '~material-design-lite/src/material-design-lite';
@import '~react-select/dist/default';

body {
  background-color: #FAFAFA;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.card-auto-fit {
  width: auto;
  min-height: auto;
  margin-bottom: 5px;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #E4E4E4;
  margin: 2px 2px 2px 0;

  > i {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }
}

.mdl-card {
  min-height: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);

  .mdl-card__title-text {
    font-weight: 400;
    font-size: 28px;
  }

  .mdl-card__supporting-text {
    width: auto;
    font-size: 19px;
    line-height: 30px;
  }
}

.card-appear, .card-enter {
  opacity: 0;
  transform: translateY(500px);
}

.card-appear.card-appear-active, .card-enter.card-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 700ms cubic-bezier(.62,.28,.23,.99);
}

.mdl-navigation__link {
  transition: box-shadow linear 300ms;

  &.is-active {
    box-shadow: inset 0 0 1px 2px rgba(0,0,0,.23);
  }
}

.mdl-card__supporting-text > .explanation > a {
  display: block;
  margin: 16px !important;
  font-size: 15px;
}

//div {
//  ul ul {
//    border-left-width: 2px;
//    border-left-style: solid;
//  }
//  > ul > li > ul {
//    border-left-color: #6A609B;
//    > li > ul {
//      border-left-color: #D81515;
//      > li > ul {
//        border-left-color: #0BAA5E;
//      }
//    }
//  }
//}
