@import '~react-mdl/extra/material.css';
@import '~react-select/dist/default';

body {
  background-color: #FAFAFA;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

blockquote {
  margin: 0;
  letter-spacing: normal;
  white-space: pre-wrap;
  font-size: 19px;
  line-height: 30px;
  font-weight: normal;
}

form {
  margin-bottom: 0;
}

.mdl-button.mdl-button--greyed {
  color: #C0C0C0;
}

.accent-color {
  color: #FF4081
}

.primary-color {
  color: #3F51B5;
}

.valid-color {
  color: #4CAF50;
}

.invalid-color {
  color: #DE3226;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #E4E4E4;
  margin: 2px 2px 2px 0;

  > i {
    cursor: pointer;
    float: right;
    line-height: 32px;
    padding-left: 8px;
  }
}

.mdl-card {
  width: 100%;
  min-height: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.34);

  .mdl-card__title-text {
    font-weight: 400;
    font-size: 28px;
  }

  .mdl-card__supporting-text {
    width: auto;
    font-size: 19px;
    line-height: 30px;
  }

  .section-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.870588);
  }
}

.mdl-button--fab:not(.mdl-button--accent):not(.mdl-button--colored) {
  background-color: #EBEBEB !important;
}

$timingFn: cubic-bezier(.62,.28,.23,.99);

.card-appear, .card-enter {
  opacity: 0;
  transform: translateY(500px);
}

.card-appear.card-appear-active, .card-enter.card-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 700ms $timingFn;
}

.card-leave {
  opacity: 1;
  transform: translateY(0px);
}

.card-leave-active {
  opacity: 0;
  transform: translateY(500px);
  transition: all 700ms $timingFn;
}

.card-container > * > :nth-child(2) {
  display: none;
}

.mdl-layout__header {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.mdl-navigation__link {
  height: calc(100% - 5px);
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.701961) !important;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: border-bottom 200ms linear;

  &.is-active {
    color: white !important;
    border-bottom-color: #fff;
  }
}

.mdl-card__supporting-text > .explanation > a {
  font-size: 15px;
}

.fab-hideable {
  transition: all 500ms $timingFn;
  transform: translateY(0px);

  &.fab-hidden {
    transform: translateY(100px);
  }
}

.concept-nav-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.concept-nav {
  width: 60%;
  height: 92vh;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
}

.concept-scroller {
  width: 100%;
  height: 92vh;
  justify-content: center;
  overflow-y: auto;
}

//div {
//  ul ul {
//    border-left-width: 2px;
//    border-left-style: solid;
//  }
//  > ul > li > ul {
//    border-left-color: #6A609B;
//    > li > ul {
//      border-left-color: #D81515;
//      > li > ul {
//        border-left-color: #0BAA5E;
//      }
//    }
//  }
//}
