.icon-switch {

  .mdl-switch__thumb {
    background: rgb(250,250,250) !important;
  }

  .mdl-switch__track {
    background: rgba(0, 0, 0, 0.26) !important;
  }

  > .material-icons {
    opacity: 1;
    transition: opacity linear 70ms;
    transition-delay: 300ms;

    &.on, &.off {
      position: absolute;
      top: 3px;
      color: rgb(63,81,181);
      z-index: 1;
      font-size: 18px;
    }

    &.on {
      left: 1px;
    }

    &.off {
      left: 17px
    }

    &.hide {
      opacity: 0;
      transition-delay: 0s;
    }
  }

}
